.git
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
artifacts/
*.egg-info
.venv
tests/
docs/
ext/**/results/
ext/**/instances/
ext/**/.git
ext/**/imgs/
ext/**/docs/
ext/**/images/
**/__pycache__
.tmp*/
thesis/