[submodule "ext/filo"]
	path = ext/filo
	url = https://github.com/DRISPI-CVRP-Framework/filo
[submodule "ext/filo2"]
	path = ext/filo2
	url = https://github.com/DRISPI-CVRP-Framework/filo2
[submodule "ext/ails2"]
	path = ext/ails2
	url = https://github.com/DRISPI-CVRP-Framework/ails2
[submodule "ext/cobra"]
	path = ext/cobra
	url = https://github.com/DRISPI-CVRP-Framework/cobra
